<div class="task-form">
  <h2 mat-dialog-title>Create Task</h2>
  <mat-dialog-content>
    <form [formGroup]="createTaskForm">
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <input required formControlName="message" matInput placeholder="" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Due Date</mat-label>
        <input
          type="datetime-local"
          formControlName="due_date"
          matInput
          placeholder=""
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <input
          type="number"
          formControlName="priority"
          min="0"
          max="3"
          matInput
          placeholder=""
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Assign To</mat-label>
        <mat-select formControlName="assigned_to">
          <mat-option></mat-option>
          <mat-option [value]="user.id" *ngFor="let user of data">{{
            user.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      [disabled]="!createTaskForm.valid"
      mat-button
      [mat-dialog-close]="true"
      (click)="createTask()"
      cdkFocusInitial
    >
      Create
    </button>
  </mat-dialog-actions>
</div>
