<div class="main-task-container">
  <div class="title-flex">
    <img src="assets/task.jpeg" width="100" />
    <mat-form-field class="example-form-field">
      <mat-label>Search task</mat-label>
      <input [(ngModel)]="searchText" matInput type="search">
    </mat-form-field>
    <button
      class="create-task-button"
      mat-raised-button
      color="primary"
      (click)="openDialog()"
    >
      Create task
    </button>
  </div>
  <div class="container">
    <div class="drag-container">
      <div class="section-heading high">High priority task</div>
      <div
        cdkDropList
        #highList="cdkDropList"
        [cdkDropListData]="dataSourceHigh"
        [cdkDropListConnectedTo]="[mediumList, lowList]"
        class="item-list"
        (cdkDropListDropped)="drop($event, '1')"
      >
        <div class="item-box heading">
          <span class="flex">Message</span>
          <span class="flex-1">Assigned to</span>
          <span class="flex-1">Due date</span>
          <span></span>
        </div>
        <div class="item-box" *ngFor="let item of dataSourceHigh | filter: searchText;" cdkDrag>
          <span class="flex-2">{{ item.message }}</span>
          <span class="flex-1">{{ item.assigned_name }}</span>
          <span class="flex-1">{{ item.due_date }}</span>
          <mat-icon (click)="deleteTask(item.id)">delete</mat-icon>
          <mat-icon (click)="openUserDialog(item)">assignment_ind</mat-icon>
        </div>
      </div>
    </div>

    <div class="drag-container">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <div class="section-heading medium">Medium priority task</div>
      <div
        cdkDropList
        #mediumList="cdkDropList"
        [cdkDropListData]="dataSourceMedium"
        [cdkDropListConnectedTo]="[highList, lowList]"
        class="item-list"
        (cdkDropListDropped)="drop($event, '2')"
      >
        <div class="item-box heading">
          <span class="flex">Message</span>
          <span class="flex-1">Assigned to</span>
          <span class="flex-1">Due date</span>
          <span></span>
        </div>
        <div class="item-box" *ngFor="let item of dataSourceMedium | filter: searchText;" cdkDrag>
          <span class="flex-2">{{ item.message }}</span>
          <span class="flex-1">{{ item.assigned_name }}</span>
          <span class="flex-1">{{ item.due_date }}</span>
          <mat-icon (click)="deleteTask(item.id)">delete</mat-icon>
          <mat-icon (click)="openUserDialog(item)">assignment_ind</mat-icon>
        </div>
      </div>
    </div>

    <div class="drag-container margin-0">
      <div class="section-heading low">Low priority task</div>
      <div
        cdkDropList
        #lowList="cdkDropList"
        [cdkDropListData]="dataSourceLow"
        [cdkDropListConnectedTo]="[mediumList, highList]"
        class="item-list"
        (cdkDropListDropped)="drop($event , '3')"
      >
        <div class="item-box heading">
          <span class="flex">Message</span>
          <span class="flex-1">Assigned to</span>
          <span class="flex-1">Due date</span>
          <span></span>
        </div>
        <div class="item-box" *ngFor="let item of dataSourceLow | filter: searchText;" cdkDrag>
          <span class="flex-2">{{ item.message }}</span>
          <span class="flex-1">{{ item.assigned_name }}</span>
          <span class="flex-1">{{ item.due_date }}</span>
          <mat-icon (click)="deleteTask(item.id)">delete</mat-icon>
          <mat-icon (click)="openUserDialog(item)">assignment_ind</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
