.table-scroll {
  max-height: 40vh;
  overflow-y: scroll;
}
.create-task-button {
  line-height: 30px;
  height: 30px;
  margin-top: 5px;
}
.heading-medium {
  background: orange;
}
.heading-high {
  background: indianred;
}
.heading-low {
  background: darkseagreen;
}
.title-flex {
  display: flex;
  max-height: 40px;
  justify-content: space-between;
  padding: 5px;
}
img {
  margin-right: 10%;
}
.section-heading {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.high {
    color: red;
}

.medium {
    color: orange;
}

.low {
    color: yellowgreen;
}

.container {
  display: flex;
}
.drag-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  flex: 1;
}
.flex-2{
    flex: 2;
}

.flex-1{
    flex: 1;
}
.flex {
    flex: 1.5;
}
.item-list {
  min-height: 60px;
  border-radius: 4px;
  display: block;
}

.item-box {
  padding: 8px 10px;
  border: solid 1px #ccc;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  border-radius: 20px;
}

.heading {
    border: none;
    background: none;
    font-weight: bold;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.margin-0 {
    margin-left: 0;
}


mat-spinner {
    margin: 0 auto;
}

mat-icon {
    cursor: pointer;
    font-size: 15px;
}
.example-form-field {
  position: absolute;
  right: 15%;
}