<mat-form-field appearance="fill">
  <mat-label>Assign To</mat-label>
  <mat-select (selectionChange)="assignUser($event)" *ngIf="data">
    <mat-option></mat-option>
    <mat-option [value]="user.id" *ngFor="let user of users">{{
      user.name
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="changeUser()"
    >
      Assign
    </button>
  </mat-dialog-actions>
